POSTGRESQL_USERNAME=
POSTGRESQL_PASSWORD=
RAILS_SERVE_STATIC_FILES=0
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_REFILE_BUCKET=dhpa-photos-development
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
SMTP_HOSTNAME=www.dhpa.com