%section.content-box
  .container
    #tab-container.sign-tab.tab-container
      %ul.etabs
        %li.tab
          = link_to "SIGN IN", new_user_session_path
        %li.tab
          = link_to "SIGN UP", new_user_registration_path, class: "active"
      #signup
        = render 'devise/shared/sign_up_form'