%section.content-box
  .container
    #tab-container.sign-tab.tab-container
      %ul.etabs
        %li.tab
          = link_to "SIGN IN", new_user_session_path, class: "active"
        %li.tab
          = link_to "SIGN UP", new_user_registration_path, id: "sign-up"
      #signin
        = render 'devise/shared/sign_in_form'
