%li
  = link_to event do
    - if event.is_private?
      .image-overlay-wrapper
        .image-overlay= "PRIVATE"
    = image_tag attachment_url(event, :image_url, :fill, 275, 175), oncontextmenu: "return false"
    %span.caption= event.title