%li
  = link_to event do
    - if event.is_private?
      .image-overlay-wrapper
        .image-overlay= "PRIVATE"
    = image_tag attachment_url(event, :image_url, :limit_watermark_dhpa, 800, 480), oncontextmenu: "return false"
    %span.caption= event.title
