/ %section.open-image-box
/   .container
/     .row
/       .seven.columns
/         .image-content
/           %img{:src => "images/openimage.jpg"}/
/       .five.columns
/         %p
/           %b IMAGE ID:
/           DH1724650
/         %p
/           %b People:
/           Rose McGowanLOWLINE 2015: ANTI-GALA-mosphere
/         %p
/           %b Event:
/           LOWLINE 2015 ANTI-GALA
/         %p
/           %b Location:
/           Angel Orensanz Foundation, NYC
/         %p
/           %b PHOTOGRAPHER:
/           Benjamin Lozovsky
/         %p
/           %b Copyright:
/           DHPA
/         %p
/           %b Date:
/           Wed, Oct 21 2015
/         %a.button{:href => "#"} PURCHASE
/         %h5 HOW CAN I USE IT?
/         %p
/           Available for all permitted uses under our
/           %a{:href => "#"} License Terms.
/         %h5 LICENSE TYPE?
/         %p Rights-managed
