%li
  .caption
    %h5 WELCOME TO DHPA.COM
    %span 
    = link_to "VIEW EVENT", event_path(top_slider)
  = image_tag attachment_url(top_slider, :image_url, :fill, 1920, 700), oncontextmenu: "return false", class: "filter-50-dark"