= render "layouts/mid_searchbar"
%section.events
  .container
    .events-content
      %h5 ALL EVENTS
      %ul.event-gallery-list.event-details.four-columns
        = render partial: 'event_details', collection: @events
