<style type="text/css">
  
.ft0{font-weight: bold;}
.ft1{font-weight: bold;}
.ft2{}
.ft3{}
.ft4{font-weight: bold;margin-left: 12px;}
.ft5{margin-left: 5px;}
.ft6{margin-left: 12px;}
.ft7{margin-left: 4px;}
.ft8{font-weight: bold;}
.ft9{margin-left: 4px;}
.ft10{}
.ft11{margin-left: 6px;}
.ft12{margin-left: 8px;}
.ft13{margin-left: 5px;}
.ft14{font-weight: bold;text-decoration: underline;margin-left: 4px;}
.ft15{font-weight: bold;text-decoration: underline;margin-left: 6px;}
.ft16{text-decoration: underline;color: #0000ff;}
.ft17{}
.ft18{}
.ft19{font-weight: bold;}
.ft20{font-weight: bold;margin-left: 12px;}
.ft21{margin-left: 5px;}
.ft22{margin-left: 4px;}
.ft23{margin-left: 6px;}
.ft24{font-weight: bold;}
.ft25{margin-left: 5px;}
.ft26{}

  
.p0{text-align: left;padding-left: 289px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 233px;margin-top: 13px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 205px;margin-top: 18px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 13px;margin-bottom: 0px;}
.p4{text-align: left;margin-top: 1px;margin-bottom: 0px;}
.p5{text-align: left;margin-top: 15px;margin-bottom: 0px;}
.p6{text-align: justify;padding-left: 24px;margin-top: 18px;margin-bottom: 0px;}
.p7{text-align: justify;padding-left: 72px;margin-top: 15px;margin-bottom: 0px;}
.p8{text-align: justify;padding-left: 144px;margin-top: 15px;margin-bottom: 0px;text-indent: -20px;}
.p9{text-align: justify;padding-left: 144px;margin-top: 15px;margin-bottom: 0px;text-indent: -25px;}
.p10{text-align: justify;padding-left: 144px;margin-top: 15px;margin-bottom: 0px;text-indent: -29px;}
.p11{text-align: left;padding-left: 144px;margin-top: 14px;margin-bottom: 0px;text-indent: -28px;}
.p12{text-align: justify;padding-left: 96px;margin-top: 14px;margin-bottom: 0px;text-indent: -24px;}
.p13{text-align: justify;padding-left: 24px;margin-top: 16px;margin-bottom: 0px;}
.p14{text-align: left;padding-left: 96px;margin-top: 15px;margin-bottom: 0px;text-indent: -24px;}
.p15{text-align: left;padding-left: 96px;margin-top: 29px;margin-bottom: 0px;text-indent: -24px;}
.p16{text-align: justify;padding-left: 96px;margin-top: 4px;margin-bottom: 0px;}
.p17{text-align: justify;padding-left: 72px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p18{text-align: left;padding-left: 72px;margin-top: 15px;margin-bottom: 0px;text-indent: -24px;}
.p19{text-align: justify;padding-left: 48px;margin-top: 13px;margin-bottom: 0px;}
.p20{text-align: justify;padding-left: 72px;margin-top: 16px;margin-bottom: 0px;text-indent: -24px;}
.p21{text-align: justify;margin-top: 15px;margin-bottom: 0px;}
.p22{text-align: justify;padding-left: 48px;margin-top: 14px;margin-bottom: 0px;}
.p23{text-align: left;padding-left: 72px;margin-top: 1px;margin-bottom: 0px;}
.p24{text-align: left;padding-left: 72px;margin-top: 14px;margin-bottom: 0px;text-indent: -24px;}
.p25{text-align: left;padding-left: 120px;margin-top: 14px;margin-bottom: 0px;text-indent: -20px;}
.p26{text-align: justify;padding-left: 120px;margin-top: 14px;margin-bottom: 0px;text-indent: -25px;}
.p27{text-align: left;padding-left: 120px;margin-top: 15px;margin-bottom: 0px;text-indent: -29px;}
.p28{text-align: justify;padding-left: 92px;margin-top: 13px;margin-bottom: 0px;}
.p29{text-align: justify;padding-left: 168px;margin-top: 18px;margin-bottom: 0px;text-indent: -24px;}
.p30{text-align: left;padding-left: 168px;margin-top: 15px;margin-bottom: 0px;text-indent: -24px;}
.p31{text-align: justify;padding-left: 120px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p32{text-align: justify;padding-left: 120px;margin-top: 14px;margin-bottom: 0px;text-indent: -24px;}
.p33{text-align: justify;padding-left: 120px;margin-top: 15px;margin-bottom: 0px;text-indent: -24px;}
.p34{text-align: justify;padding-left: 24px;margin-top: 17px;margin-bottom: 0px;text-indent: -24px;}
.p35{text-align: left;padding-left: 72px;margin-top: 14px;margin-bottom: 0px;text-indent: -20px;}
.p36{text-align: left;padding-left: 72px;margin-top: 14px;margin-bottom: 0px;text-indent: -25px;}
.p37{text-align: left;padding-left: 72px;margin-top: 14px;margin-bottom: 0px;text-indent: -29px;}
.p38{text-align: justify;padding-left: 44px;margin-top: 14px;margin-bottom: 0px;}
.p39{text-align: justify;padding-left: 120px;margin-top: 15px;margin-bottom: 0px;text-indent: -24px;}
.p40{text-align: left;padding-left: 120px;margin-top: 15px;margin-bottom: 0px;text-indent: -24px;}
.p41{text-align: left;padding-left: 120px;margin-top: 32px;margin-bottom: 0px;text-indent: -24px;}
.p42{text-align: left;padding-left: 120px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p43{text-align: justify;margin-top: 14px;margin-bottom: 0px;}
.p44{text-align: left;padding-left: 72px;margin-top: 15px;margin-bottom: 0px;text-indent: -24px;}
.p45{text-align: left;padding-left: 72px;margin-top: 12px;margin-bottom: 0px;text-indent: -24px;}
.p46{text-align: justify;padding-left: 72px;margin-top: 14px;margin-bottom: 0px;text-indent: -24px;}
.p47{text-align: left;padding-left: 72px;margin-top: 15px;margin-bottom: 0px;text-indent: -24px;}
.p48{text-align: justify;margin-top: 12px;margin-bottom: 0px;}
.p49{text-align: left;padding-left: 72px;margin-top: 14px;margin-bottom: 0px;text-indent: -24px;}
.p50{text-align: justify;padding-left: 72px;margin-top: 21px;margin-bottom: 0px;text-indent: -24px;}
.p51{text-align: left;padding-left: 72px;margin-top: 15px;margin-bottom: 0px;text-indent: -24px;}
.p52{text-align: justify;padding-left: 24px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}


</style>


        <% if not defined?(licenses_only) or licenses_only != true %>
          <h2 class="page-title center">DHPA<br/>
          Terms and Conditions<br/>
          Last Modified: January 7, 2016</h2>
        
          <P class="p3 ft3">Thank you for using DHPA.com. We value your use of our site and provide these Terms <SPAN class="ft2">and Conditions </SPAN>(the "Agreement") as an agreement between you and DHPA.com ("DHPA" or "we") regarding your use of the DHPA.com website (the "Site"). By using or accessing the Site in any way, you agree to be bound by this Agreement in full.</P>
          <P class="p5 ft3">We may modify this Agreement at any time by updating this document. If you continue using the Site in any way following an update, you agree to be bound by the new Agreement.</P>
          <P class="p6 ft0"><SPAN class="ft0">1.</SPAN><SPAN class="ft4">Use of the Site</SPAN></P>
          <P class="p7 ft3"><SPAN class="ft0">(a)</SPAN><SPAN class="ft5">By using, accessing or viewing the Site in any way, you agree that:</SPAN></P>
          <P class="p8 ft3"><SPAN class="ft0">i.</SPAN><SPAN class="ft6">You are at least 13 years of age or older and may enter into legally binding contracts.</SPAN></P>
          <P class="p9 ft3"><SPAN class="ft0">ii.</SPAN><SPAN class="ft6">You will not use the Site or any of its content in any way that is, or facilitates, illegal or prohibited activities.</SPAN></P>
          <P class="p10 ft3"><SPAN class="ft0">iii.</SPAN><SPAN class="ft6">You will not disrupt the Site or attempt to circumvent, hack, or unlawfully access the Site or its content.</SPAN></P>
          <P class="p11 ft3"><SPAN class="ft0">iv.</SPAN><SPAN class="ft6">You will not violate the intellectual property rights, including copyright, trademark, and patent rights, of DHPA. This includes DHPA's rights to all photographs and images on the Site.</SPAN></P>
          <P class="p12 ft3"><SPAN class="ft0">(b)</SPAN><SPAN class="ft7">Your access to the Site may be limited or terminated at any time and for any reason.</SPAN></P>
          <P class="p13 ft0"><SPAN class="ft0">2.</SPAN><SPAN class="ft4">Purchase and Use of Photographs</SPAN></P>
          <P class="p14 ft3"><SPAN class="ft0">(a)</SPAN><SPAN class="ft5">All photos, images, and graphics found throughout the Site (collectively, “Works”) are owned by DHPA and are protected by United States and international copyright law. Use of any image as the basis for another photographic concept or illustration (digital, artist rendering or alike) is a violation of the applicable copyright laws. All images are copyrighted © 2016 DHPA.com</SPAN></P>
          <P class="p15 ft10"><SPAN class="ft8">(b)</SPAN><SPAN class="ft9">You may purchase the Works featured on the Site in the form of digital image files, or such other products as we may offer from time to time, subject to a specific license. We offer several licenses, which are described more fully in Section 3 of this Agreement and on the Site at the time any purchase is made (each a “License”).</P>
  
          <P class="p17 ft3"><SPAN class="ft0">(c)</SPAN><SPAN class="ft11">If you purchase Works, you agree to abide by the terms of the applicable License in full and without modification.</SPAN></P>
          <P class="p18 ft3"><SPAN class="ft0">(d)</SPAN><SPAN class="ft7">By making any purchase through the Site, you agree that DHPA is authorized to charge a fee to the payment method (such as credit card) you provide. By making any purchase, you represent and warrant that you are authorized to make such purchase with the specified payment method you provide.</SPAN></P>
          <P class="p19 ft3"><SPAN class="ft0">(e)</SPAN><SPAN class="ft11">Prices found throughout the Site are subject to change with notice.</SPAN></P>
          <P class="p20 ft3"><SPAN class="ft0">(f)</SPAN><SPAN class="ft12">All purchases and sales through the Site are final and no refunds shall be made under any circumstance.</SPAN></P>

          <P class="p21 ft0"><SPAN class="ft0">3.</SPAN><SPAN class="ft4">Licenses</SPAN></P>
        <% else %>
          <h4 class="page-title center">Licenses</h4>
        <% end %>

        <P class="p22 ft10"><SPAN class="ft8">(a)</SPAN><SPAN class="ft13">You may purchase any of the images found on DHPA.com subject to either our</SPAN></P>
        <P class="p23 ft3"><SPAN class="ft3">(1)</SPAN><SPAN class="ft7">Personal License or our (2) Editorial License. By selecting either license option during checkout, you agree to abide by the below corresponding terms at all times, in full, and without modification.</SPAN></P>
        <P class="p24 ft3"><SPAN class="ft0">(b)</SPAN><SPAN class="ft14">Personal License</SPAN>: Please choose this option if you'd like to use the photographs for your own personal use. If you purchase any of our images with a Personal License you agree that DHPA.com is granting you a revocable, worldwide, license to use the purchased image subject to the following conditions:</P>
        <P class="p25 ft3"><SPAN class="ft0">i.</SPAN><SPAN class="ft6">You will only use the image for (i) your own personal, </SPAN><NOBR>non-editorial</NOBR> use, or (ii) as a digital reproduction for <NOBR>non-editorial</NOBR> reasons such as, reproduction on personal, <NOBR>non-editorial</NOBR> websites, blogs, <NOBR>e-cards,</NOBR> videos, or social media profiles.</P>
        <P class="p26 ft3"><SPAN class="ft0">ii.</SPAN><SPAN class="ft6">You will not modify, change, alter, or make derivatives of the Works in any way without the express written permission of DHPA.com</SPAN></P>
        <P class="p27 ft3"><SPAN class="ft0">iii.</SPAN><SPAN class="ft6">You will include the text "Photo(s) by DHPA.com" or "Photo Credit: DHPA.com" in text adjacent to the works unless such attribution is not physically possible, in which case you must receive a written waiver from DHPA.</SPAN></P>
        <P class="p28 ft3"><SPAN class="ft0">iv.</SPAN><SPAN class="ft6">You will not:</SPAN></P>
        <P class="p29 ft3"><SPAN class="ft0">1.</SPAN><SPAN class="ft6">Use the image other than as expressly provided for by this Personal License.</SPAN></P>
        <P class="p30 ft3"><SPAN class="ft0">2.</SPAN><SPAN class="ft6">Use the purchased image in a way that a reasonable person would find to be offensive, harassing, illegal, defamatory, deceptive, pornographic, or infringing upon the intellectual property or publicity rights of any other person.</SPAN></P>
        
        
        <P class="p31 ft3"><SPAN class="ft0">3.</SPAN><SPAN class="ft6">Distribute, </SPAN><NOBR>sub-license,</NOBR> sell, license, assign, transfer, or utilize to make a new image, whether in part or in whole, the images other than as expressly permitted by this Personal License.</P>
        <P class="p32 ft3"><SPAN class="ft0">4.</SPAN><SPAN class="ft6">Use the purchased image as, or as part of, a trademark or service mark.</SPAN></P>
        <P class="p33 ft3"><SPAN class="ft0">5.</SPAN><SPAN class="ft6">Falsely represent or imply affiliation, sponsorship, or ownership with the purchased image.</SPAN></P>
        <P class="p34 ft3"><SPAN class="ft0">(c)</SPAN><SPAN class="ft15">Editorial License</SPAN>: Please choose this option if you'd like to use the photographs for editorial purposes. If you purchase any image with an Editorial License, you agree that DHPA.com is granting you a revocable, worldwide, license to use the purchased image subject to the following conditions</P>
        <P class="p35 ft3"><SPAN class="ft0">i.</SPAN><SPAN class="ft6">You will only use the purchased image for (i) any of the purposes granted under the Personal License or (ii) for news reporting, commentating, and editorial purposes, such as newspapers, magazines, </SPAN><NOBR>non-personal</NOBR> blogs, <NOBR>non-personal</NOBR> websites, and <NOBR>non-personal</NOBR> social media.</P>
        <P class="p36 ft3"><SPAN class="ft0">ii.</SPAN><SPAN class="ft6">You will not modify, change, alter, or make derivatives of the purchased images in any way without the express written permission of DHPA.com.</SPAN></P>
        <P class="p37 ft3"><SPAN class="ft0">iii.</SPAN><SPAN class="ft6">You will include the text "Photo(s) by DHPA.com" or "Photo Credit: DHPA.com" in text adjacent to the purchased image unless such attribution is not physically possible, in which case you must receive a written waiver from DHPA.</SPAN></P>
        <P class="p38 ft3"><SPAN class="ft0">iv.</SPAN><SPAN class="ft6">You will not:</SPAN></P>
        <P class="p39 ft3"><SPAN class="ft0">1.</SPAN><SPAN class="ft6">Use the purchased image other than as expressly provided for by the License.</SPAN></P>
        <P class="p40 ft3"><SPAN class="ft0">2.</SPAN><SPAN class="ft6">Use the purchased image to in a way that the a reasonable person would find to be, or be promoting material that is, offensive, harassing, illegal, defamatory, deceptive, pornographic, or infringing upon the intellectual property or publicity rights of any other person.</SPAN></P>
        <P class="p41 ft3"><SPAN class="ft0">3.</SPAN><SPAN class="ft6">Distribute, </SPAN><NOBR>sub-license,</NOBR> sell, license, assign, transfer, or utilize for a new work, whether in part or in whole, the purchased image other than as expressly permitted by the License.</P>
        <P class="p32 ft3"><SPAN class="ft0">4.</SPAN><SPAN class="ft6">Use the purchased image as, or as part of, a trademark or service mark.</SPAN></P>
        <P class="p33 ft3"><SPAN class="ft0">5.</SPAN><SPAN class="ft6">Falsely represent or imply affiliation, sponsorship, or ownership with the purchased image.</SPAN></P>
        
        
        <P class="p42 ft18"><SPAN class="ft0">v.</SPAN><SPAN class="ft6">Please contact </SPAN><A href="mailto:support@dhpa.com"><SPAN class="ft16">support@dhpa.com </SPAN></A>if you wish to purchase a <SPAN class="ft17">C</SPAN>ommercial <SPAN class="ft17">L</SPAN>icense which will enable you to use the images in ways other than those granted in the Personal License and Editorial License.</P>



        <% if not defined?(licenses_only) or licenses_only != true %>
          <P class="p43 ft19"><SPAN class="ft19">4.</SPAN><SPAN class="ft20">No Warranties; Disclaimers</SPAN></P>
          <P class="p44 ft18"><SPAN class="ft19">(a)</SPAN><SPAN class="ft21">DHPA PROVIDES THE SITE AND ALL OF ITS CONTENT, INCLUDING THE WORKS, “AS IS” AND “WHERE IS” WITH NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR </SPAN><NOBR>NON-INFRINGEMENT,</NOBR> TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW.</P>
          <P class="p45 ft18"><SPAN class="ft19">(b)</SPAN><SPAN class="ft22">DHPA uses its reasonable efforts to ensure compliance with applicable laws relating to licensing and rights of privacy and publicity for its Works, including necessary releases and permits, but makes no guarantees as to such compliance.</SPAN></P>
          <P class="p46 ft18"><SPAN class="ft19">(c)</SPAN><SPAN class="ft23">If you believe any content or works on the Site infringe upon your rights, please promptly contact us via email at: </SPAN><A href="mailto:support@dhpa.com"><SPAN class="ft16">support@dhpa.com</SPAN></A></P>
          <P class="p47 ft18"><SPAN class="ft19">(d)</SPAN><SPAN class="ft22">You acknowledge and agree that your use of the Site and the Work is solely at your own risk. DHPA, and its owners, affiliated companies, officers, directors, employees, subsidiaries, and representatives, shall under no circumstance be liable or responsible for any losses, injuries, or damages of any kind including, without limitation, lost business or profits, direct, indirect, incidental, consequential, compensatory, exemplary, special or punitive damages that may result from your use or reliance on the Site or the Work.</SPAN></P>
          <P class="p48 ft19"><SPAN class="ft19">5.</SPAN><SPAN class="ft20">Miscellaneous</SPAN></P>
          <P class="p49 ft26"><SPAN class="ft24">(a)</SPAN><SPAN class="ft25">This Agreement shall be governed exclusively by the law of the state of Florida without regard for the conflict of laws. Any dispute arising under, or related to, this Agreement shall be brought exclusively in the state and federal courts of </SPAN><NOBR>Miami-Dade</NOBR> County, Florida. This Section 5(a) notwithstanding, DHPA retains the right to bring an individual action to seek injunctive or other relief in any court of competent jurisdiction to prevent the actual or threatened infringement, misappropriation or violation of a party's copyrights, trademarks, trade secrets, patents or other intellectual property rights.</P>
          <P class="p50 ft18"><SPAN class="ft19">(b)</SPAN><SPAN class="ft22">This Agreement constitutes the full and complete understanding of the parties with respect to the use of the Site and the Work.</SPAN></P>
          <P class="p51 ft18"><SPAN class="ft19">(c)</SPAN><SPAN class="ft23">If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in full force and effect to the maximum extent allowed by law.</SPAN></P>
          
          
          <P class="p52 ft3"><SPAN class="ft0">(d)</SPAN><SPAN class="ft7">Any delay or failure of the parties to exercise or enforce any portion of this Agreement shall in no way constitute any waiver of rights.</SPAN></P>
          <P class="p21 ft3"><SPAN class="ft0">(e)</SPAN><SPAN class="ft11">Notice may be sent to DHPA at </SPAN><A href="mailto:support@dhpa.com"><SPAN class="ft16">support@dhpa.com</SPAN></A><A href="mailto:support@dhpa.com"><SPAN class="ft18">.</SPAN></A></P>
        <% end %>
