%section.content-box
  .container
    .row
      .three.columns
        %h5 MIAMI
        %p
          %b P.
          305 914 4113 <br/>
          %b E.
          hiredhpa@dhpa.com
      .eight.columns.offset-by-one
        %h2.page-title GET IN TOUCH WITH US
        %form
          %p.half
            %label * FIRST NAME
            %input{type: 'text'}
          %p.half.last
            %label * LAST NAME
            %input{type: 'text'}
          %p
            %label * EMAIL
            %input{type: 'text'}
          %p
            %label * MESSAGE
            %textarea
          %span.mandatory.float-left * fields with an asterisk are mandatory
          %input.float-right{id: 'submit', type: 'submit', value: 'SIGN IN'}
