<style type="text/css">
p.ft0{font-weight: bold;}
p.ft4{margin-left: 17px;}
p.ft5{text-decoration: underline;color: #0000ff;}
p.ft7{font-weight: bold;}

p.p0{margin-top: 15px;margin-bottom: 0px;}
p.p1{padding-left: 263px;margin-top: 16px;margin-bottom: 0px;}
p.p2{padding-left: 205px;margin-top: 15px;margin-bottom: 0px;}
p.p3{padding-right: 99px;margin-top: 15px;margin-bottom: 0px;}
p.p4{padding-right: 97px;margin-top: 14px;margin-bottom: 0px;}
p.p5{margin-top: 33px;margin-bottom: 0px;}
p.p6{padding-right: 103px;margin-top: 18px;margin-bottom: 0px;}
p.p7{padding-right: 102px;margin-top: 15px;margin-bottom: 0px;}
p.p8{margin-top: 16px;margin-bottom: 0px;}
p.p9{margin-top: 15px;margin-bottom: 0px;}
p.p10{text-align: justify;padding-left: 24px;margin-top: 2px;margin-bottom: 0px;}
p.p11{text-align: justify;padding-left: 24px;margin-top: 1px;margin-bottom: 0px;}
p.p12{text-align: justify;padding-left: 24px;margin-top: 0px;margin-bottom: 0px;}
p.p13{text-align: justify;padding-left: 48px;padding-right: 117px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
p.p14{margin-top: 20px;margin-bottom: 0px;}
p.p15{padding-right: 112px;margin-top: 18px;margin-bottom: 0px;}
p.p16{padding-right: 128px;margin-top: 24px;margin-bottom: 0px;}
p.p17{margin-top: 17px;margin-bottom: 0px;}
p.p18{margin-top: 17px;margin-bottom: 0px;}

</style>

<section class="content-box">
  <div class="container">
    <div class="row">
      <div class="twelve columns">

        <h2 class="page-title center">DHPA<br/>
        Privacy Policy<br/>
        Last Modified: January 7, 2016</h2>

        <P class="p3 ft1">Thank you for using DHPA.com. We take your privacy and security seriously and provide this Privacy Policy (the "Privacy Policy") to describe how DHPA.com ("DHPA" or "we") collect and use your personal information while using the DHPA.com website (the "Site"). By using or accessing the Site in any way, you agree to be bound by this Privacy Policy in full.</P>
        <P class="p4 ft1">We may modify this Privacy Policy at any time by updating this document. If you continue using the Site in any way following an update, you agree to be bound by the new Privacy Policy.</P>
        <P class="p5 center ft0">Information we may collect</P>
        <P class="p6 ft1"><SPAN class="ft0">Information automatically collected by the Site. </SPAN>Our Site may use session cookies (small text files placed on your computer) to help optimize your experience on the Site. You may be able to delete your cookies or disable the use of cookies in your web browser, but doing so could limit the functionality of the Site. We may also collect website analytics information which could include your internet protocol address, referring webpage, and browser information.</P>
        <P class="p7 ft1"><SPAN class="ft0">Information you submit to the Site. </SPAN>When you contact us or make a purchase through our Site, we will collect your personal information to help us respond to you or process your order. This information may include your name, address, phone number, email address, credit card or other payment information, and shipping address. We will also collect information about the license and products you purchase from us.</P>
        <P class="p8 center ft0">How we may use your information</P>
        <P class="p9 ft2">Personal information we collect from you may be used in the following ways:
          <ul style="margin-left: 16px;">
            <li>To process your payments and deliver your orders (digitally or otherwise).</SPAN></li>
            <li>To optimize, improve, and customize the Site.</SPAN></li>
            <li>To ensure compliance with your purchased license.</SPAN></li>
            <li>To answer questions, comments, and inquiries you make.</SPAN></li>
            <li>To provide promotional, marketing, and administrative emails and newsletters.</SPAN></li>
            <li>In an aggregated method for advertisers, but only in such a way as to prevent you from being personally identifiable.</SPAN></li>
          </ul>
        </p>
        <P class="p14 center ft0">Children</P>
        <P class="p15 ft1">DHPA does not knowingly or intentionally collect any information from children younger than 13 years of age. If you believe we have any information about a child under 13 years of age, please contact us at <A href="mailto:support@DHPA.com"><SPAN class="ft5">support@DHPA.com </SPAN></A><SPAN class="ft6">so we may review and delete any such information.</SPAN></P>
        
        
        <P class="p0 center ft7">Security</P>
        <P class="p16 ft1">We care about your security and privacy and thus use commercially reasonable methods and devices (both physical and electronic) to protect the integrity and security of your personal information. Nevertheless, we cannot ensure or warrant the security of any information you transmit to the Site or DHPA, and you do so at your own risk.</P>
        <P class="p17 center ft0">Contacting Us</P>
        <P class="p18 ft1">Please contact us <a href="mailto:support@dhpa.com">support@DHPA.com</a> with any questions, comments, or requests.</P>
      </div>
    </div>
  </div>
</section>
