%section.content-box
  .container
    .row
      .three.columns
        %h5 MIAMI
        %p
          %b P.
          305 914 4113 <br/>
          %b E.
          hiredhpa@dhpa.com
      .eight.columns.offset-by-one
        %h2.page-title{style: "margin: 0"} GET IN TOUCH WITH US
        %p *FIELDS WITH AN ASTERISK ARE MANDATORY
        = render 'form'
