= render "layouts/admin/nav"
.container
  %h5 Events
  - @events.each do |event|
    %li
      = link_to admin_event_path(event) do
        = event.date.to_s+" - "+event.title+" - "+event.location
      = link_to "X", admin_event_path(event), method: "delete"