= render "layouts/admin/nav"
.container
  %h5 Events

  - @events.each do |event|
    %li
      = link_to edit_admin_event_path(event) do
        = event.date.to_s+" - "+event.title+" - "+event.location