.toggle-lightbox-wrapper {
  margin-top: 6px;
}

.toggle-lightbox {
  background: #000;
  color: #FFF;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid #000;
}

.toggle-lightbox:hover {
  color: #000;
  background-color: #FFF;
  border-color: #000;
}

#lightbox form {
  margin-bottom: 0;
}

#lightbox select {
  background-color: #000;
  border: 3px solid #FFF;
  border-radius: 0;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-family: Open Sans;
  font-size: 1.25rem;
  font-weight: 600;
  height: auto;
  line-height: 20px;
  padding: 10px 40px;
  text-decoration: none;
}