%section.content-box
  .container.img-responsive
    .row
      .six.columns.offset-by-three
        %h2.page-title.center PASSWORD PROTECTED
        - if session[:session_password].present? && session[:session_password] != @event.password
          .error.fade-in= "Incorrect password for this page. Please try again."
        = form_tag create_session_password_path do
          = password_field_tag :password
          .actions
            = submit_tag "Log In"
