%a.toggle-lightbox Show Lightbox
#lightbox{style: "display:none"}
  %section.albumbar.carousel
    .container
      %h5 LIGHTBOX
      %p= "#{@response} #{@message}"
      .top-images
        %ul.event-list
          - if @lightbox.nil? then @lightbox = current_user.lightboxes.last end
          - @lightbox.photos.each do |photo|
            = render partial: "photos/photo_search", object: photo
      / %ul.menu
      /   %li.nameof
      /     %a NAME