%footer#footer
  .container
    .row
      .two.columns
        %ul.social
          %li
            %a.facebook{:href => "#", :target => "_blank"}
              %i.fa.fa-facebook
          %li
            %a.twitter{:href => "#", :target => "_blank"}
              %i.fa.fa-twitter
          %li
            %a.linkedin{:href => "#", :target => "_blank"}
              %i.fa.fa-instagram
      .seven.columns
        %nav#footer-menu
          %ul
            %li
              %a{:href => "#"} FAQ
            %li
              %a{:href => "#"} TERMS AND CONDITIONS
            %li
              %a{:href => "#"} PRIVACY POLICY
            %li
              %a{:href => "#"} CONTACT US
        %p.copyright Copyright © 2015 DHPA ALL RIGHTS RESERVED
      .three.columns.align-right
        %span.by Designed With Love By Stilt Media
/ end footer