%footer#footer
  .container
    .row
      .two.columns
        %ul.social
          %li
            %a.facebook{:href => "#", :target => "_blank"}
              %i.fa.fa-facebook
          %li
            %a.twitter{:href => "#", :target => "_blank"}
              %i.fa.fa-twitter
          %li
            %a.linkedin{:href => "http://www.instagram.com/dhpamiami", :target => "_blank"}
              %i.fa.fa-instagram
      .seven.columns
        %nav#footer-menu
          %ul
            %li
              %a{:href => "#"} FAQ
            %li
              %a{:href => "#"} TERMS AND CONDITIONS
            %li
              %a{:href => "#"} PRIVACY POLICY
            %li
              = link_to "CONTACT US", contact_us_path
        %p.copyright Copyright © 2015 DHPA ALL RIGHTS RESERVED
      .three.columns.align-right
        %span.by
          Designed With Love By
          %a{href: "www.stiltmedia.com", target: "_blank"}
            Stilt Media
/ end footer