%section.bg-grey
  .container
    .row
      .four.columns
        = form_tag search_path, method: :get do
          = text_field_tag :q, nil, class: "search-input u-pull-left u-full-width", placeholder: "Search photos and events...", value: params[:q]
