%section{style: "background-color: #f9f9f9"}
  .container
    .row
      .twelve.columns
        = form_tag search_path, method: :get do
          = text_field_tag :q, nil, class: "search-input", placeholder: "Search photos and events...", value: params[:q]
